body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333232;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #660202;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center; 
}

p {
    text-align: center;
    align-items: center;
    color: white;
    
}
main {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    padding: 50px;
    flex: 1;
    align-items: center;
    text-align: center;
}

h2 {
    color: white;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(236, 137, 15);
    color: black;
    
}

.card {
    flex: 1;
    padding: 20px;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



footer {
    background-color: #660202;
    color: white;
    padding: 10px;
    text-align: center;
}
