body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin from the body */
    color: whitesmoke;
    background-color: rgb(46, 41, 41);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(107, 1, 1);
    color: whitesmoke;
    padding: 30px;
    width: 100%;
    margin: 0;
    
}

main { 
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin: 0;
    padding: 0 15%;
    color: whitesmoke;
    background-color: rgb(46, 41, 41);
}

div {
    text-align: center;
    background-color: whitesmoke;
    color: black;
    


}